@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'styles/variaveis';
@import "styles/breakpoints";

.previsao{
  background-color: $white-ice2;
  width: 390px;
  height: 220px;;
  color: $darkest-grey;
}

.headerConteiner{
  display: flex;
  justify-content: space-between;
}

.cidade{
  font-size: 1em;
  padding: 0.5em 2em;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0em 2em;
  height: 3em;
  &__clima{
    font-weight: bold;
    font-size: 2em;
  }
  &__temp{
    font-weight: bold;
    font-size: 2em;
  }
}

.dados{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 2em;
  height: 3em;
  margin-bottom: 0px;
}

.divisa{
  background: rgba(255,184,0,1);
  width: 100%;
  height: 1%;
  @media (min-width: $mobile) {
    width: 100%;
    height: 1%;
  }
  @media (min-width: $desktop_md) {
  }
}

.item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.3em 0px;
}

.close{
  width: 45px;
  height: 29px;
  color: rgba(255,184,0,1);
  margin: 5px;
}