@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(255,130,0);
  background: linear-gradient(163deg, rgba(255,130,0,1) 0%, rgba(255,184,0,1) 50%);
}
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

p{
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}